{% extends "base.html" %}
      
{% block content %}
<section id="about">
  <div class="page-header">
    <h1>Flask<small> es muy fácil de utilizar</small></h1>
  </div>
  <div class="row">
    <div class="span-two-third">
      <h3>Demo</h3>
      <p>Esta demo sólo muestra algunas caracteristicas básicas de Flask</p>
      <p>Read more on <a href="http://flask.pocoo.org">flask.pocoo.org &rsaquo;</a></p>
      <p>
        <a href="http://twitter.com/lcruzc" class="twitter-follow-button">Follow @lcruzc</a>
        <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
      </p>
    </div>

    
  </div>
</section>
{% endblock %}